.container {
  border-radius: var(--container-border-radius);
  overflow: hidden;
  width: 50%;
}

.searchResults {
  background: var(--container-background-color);
  box-shadow: var(--container-box-shadow);
  -webkit-backdrop-filter: var(--container-backdrop-filter);
  backdrop-filter: var(--container-backdrop-filter);
  border-radius: var(--container-border-radius);
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 40rem;
  min-height: 16.3rem;
  padding: 1rem 1rem 0.6rem 1rem;
}

.searchResultsTitle,
.searchResultsFooter,
.highlight,
.placeholder {
  color: var(--supporting-color);
  text-align: center;
}

.searchResultsTitle {
  padding: 0.7rem 0 1rem 0;
  margin-bottom: 0.8rem;
  line-height: 1.5rem;
}

.searchResultsFooter {
  padding: 1rem 0;
  line-height: var(--default-line-height);
}

.highlight {
  color: var(--primary-text-color);
}

.placeholder {
  align-items: center;
  display: flex;
  font-family: var(--primary-font-family);
  font-size: 1.5rem;
  text-align: center;
  height: 14rem;
  justify-content: center;
}

.searchResultsTitle,
.searchResultsFooter,
.placeholder {
  cursor: default;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  .searchResults {
    max-height: 30rem;
  }

  .searchResultsFooter {
    line-height: 1.2rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .placeholder {
    font-size: 1.4rem;
  }
}
