.container {
  border-radius: var(--container-border-radius);
  overflow: hidden;
  width: 30rem;
  min-height: 15rem;
}

.searchResults {
  /* Appaerance */
  background: var(--container-background-color);
  box-shadow: var(--container-box-shadow);
  backdrop-filter: var(--container-backdrop-filter);
  -webkit-backdrop-filter: var(--container-backdrop-filter);
  border-radius: var(--container-border-radius);
  overflow-y: scroll;
  overflow-x: hidden;

  /* Proportions */
  max-height: 40rem;
  min-height: 15rem;
  padding: 1rem;
}

.searchResultsTitle {
  color: var(--supporting-color);
  text-align: center;
  padding: 1rem 0 0.9rem 0;
  margin-bottom: 1rem;
}

.highlight {
  color: var(--primary-text-color);
}

.placeholder {
  align-items: center;
  color: var(--supporting-color);
  display: flex;
  font-family: var(--primary-font-family);
  font-size: 1.5rem;
  height: 13rem;
  justify-content: center;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}
