.track {
  display: flex;
  align-items: center;
  background-color: var(--track-background-color);
  border-radius: 1.2rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.6rem;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.track:hover {
  transform: scale(1.02);
}

.trackCover {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.trackAction {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.5rem;
  transition: color 0.25s;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary-text-color);
}

.removeTrack:hover {
  color: var(--error-accent-color);
}

.addTrack:hover {
  color: var(--spotify-green);
}

.trackInfo {
  white-space: nowrap;
  overflow: hidden;
  margin-left: 1rem;
}

.trackInfo::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5rem;
  background: linear-gradient(
    to left,
    var(--track-background-color),
    transparent
  );
}

.trackContainer {
  align-items: center;
  flex-grow: 1;
  display: flex;
  height: 4.5rem;
  width: 0;
  position: relative;
}

.trackContainer h3,
.trackContainer p {
  line-height: 1.3rem;
}

.trackContainer p {
  margin-top: 0.3rem;
  font-size: 0.83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}

.coverContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.cover {
  height: 100%;
  width: 100%;
}

.playPauseButton {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3rem;
  width: 2.7rem;
  padding: 0.3rem;
}

.playPauseButton:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .trackContainer h3,
  .trackContainer p {
    line-height: 1rem;
    margin: 0;
  }

  .trackContainer h3 {
    font-size: 0.8rem;
  }

  .trackContainer p {
    font-size: 0.7rem;
  }
}