.track {
  background-color: #2c2c2c;
  border-radius: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  height: 6rem;
  width: 100%;
  overflow: hidden;
  transition: transform 300ms ease;
}

.trackImage {
  border-radius: 0.5rem;
  height: 4rem;
  width: 4rem;
  aspect-ratio: 1 / 1;
}

.trackInfo {
  line-height: 1.5;
  width: calc(100% - 10rem);
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
}

.trackArtist {
  color: gray;
}

.trackAction {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  text-align: center;
  width: 2rem;
  cursor: pointer;
}

.track:hover {
  transform: scale(1.02);
  cursor: pointer;
}
