.contentWrapper {
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
}

.pageTitle {
    font-size: 2rem;
    margin: 3rem 0 2rem 0;
}

.highlight {
    color: var(--secondary-color);
    font-weight: 700;
}