.searchBar {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  width: 100%;
}

.searchBar input {
  background-color: white;
  border: none;
  border-radius: 2rem;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  height: 3rem;
  padding: 0 1.4rem;
  width: 25rem;
}

.searchBar input:hover {
  outline: none;
  background-color: white;
}

.searchBar input:focus {
  outline: none;
  background-color: white;
}