/*
 * SEARCHBAR.MODULE.CSS INDEX
 * 1. Search bar styles....................10
 * 2. Input styles.........................40
 * 3. Search button styles.................63
 * 4. Responsive styles....................80
 *
 */

/* 1. Search bar styles
 * ..........................................
 */
.searchBar {
    /* Layout */
    display: inline-flex;
    /* Size */
    width: 30rem;
    height: 3rem;
    /* Colors */
    background-color: white;
    color: black;
    /* Border */
    border-radius: 1.5rem;
    /* Overflow */
    overflow: hidden;
    /* Transition */
    transition: all 300ms ease;
    /* Opacity */
    opacity: 1;
}

.searchBar:hover:not(.searchBarDisabled) {
    transform: scale(1.02);
}

.searchBarDisabled {
    opacity: 0.6;
}

/* 2. Search input styles
 * ..........................................
 */
.searchInput {
    /* Layout */
    width: 100%;
    height: 100%;
    /* Spacing */
    padding-right: 1rem;
    /* Typography */
    font-size: 1rem;
    /* Background */
    background-color: transparent;
    /* Border */
    border: none;
    outline: none;
}

.searchInput:hover {
    border: none;
    outline: none;
}

/* 3. Search button styles
 * ..........................................
 */
.searchButton {
    /* Flexbox */
    display: flex;
    align-items: center;
    /* Spacing */
    padding: 0 0.5rem 0 1rem;
    /* Typography */
    font-size: 1.5rem;
    /* Background */
    background-color: transparent;
    /* Border */
    border: none;
}

/* 4. Responsive styles
 * ..........................................
 */
@media (max-width: 768px) {
    .searchBar {
        /* Layout */
        width: calc(100% - 3.5rem);
    }
}