.header {
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 10rem;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 1.5rem; /* Experimental design change */
}

.logo {
    font-size: 4rem;
}

.actions {
    display: inline-flex;
    align-items: center;
    gap: 1rem
}

.logInOutButton {
    background-color: white;
    border-radius: 100%;
    border: none;
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
}