header {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 8rem 0 4rem 0;
  color: #fff;
  font-family: var(--primary-font-family);
}

.logo {
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 4rem 0 2rem 0;
  }
}
