/*
 * HEADER.MODULE.CSS INDEX
 * 1. Header styles........................12
 * 2. Logo styles..........................28
 * 3. Actions container styles.............39
 * 4. Log in/out button styles.............51
 * 5. Logged in/out states styles..........74
 * 6. Responsive styles....................86
 *
 */

/* 1. Header styles 
 * ..........................................
 */
.header {
  /* Flexbox */
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
  /* Size */
  width: 100%;
  height: 10rem;
  /* Spacing */
  margin-bottom: 2rem;
  padding: 0 1.5rem;
}

/* 2. Logo styles
 * ..........................................
 */
.logo {
  /* Typography */
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  /* Cursor */
  cursor: default;
}

/* 3. Actions container styles 
 * ..........................................
 */
.actions {
  /* Flexbox */
  display: inline-flex;
  align-items: center;
  /* Spacing */
  gap: 1.2rem;
  margin-right: 0.6rem; /* Adjusted */
}

/* 4. Log in/out button styles 
 * ..........................................
 */
.logInOutButton {
  /* Layout */
  width: 3rem;
  height: 3rem;
  /* Typography */
  font-size: 1.5rem;
  /* Colors */
  background-color: white;
  /* Border */
  border-radius: 1.5rem;
  border: none;
  /* Transition */
  transition: all 300ms ease;
}

.logInOutButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* 5. Logged in/out states
 * ..........................................
 */
.loggedIn,
.loggedOut:hover {
  background-color: rgb(0, 229, 0);
}

.loggedIn:hover {
  background-color: red;
}

/* 6. Responsive styles
 * ..........................................
 */
@media (max-width: 992px) {
  .header {
    /* Flexbox*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* Layout */
    height: 12rem;
    /* Spacing */
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .actions {
    /* Flexbox*/
    justify-content: center;
    /* Layout */
    width: 100%;
    margin: 0;
    /* Spacing */
    gap: 0.5rem;
  }
}

@media (max-width: 576px) {
  .header {
    /* Spacing */
    margin: 1.5rem 0 1rem 0;
    padding: 0;
  }
}