/* Footer 
 * ======================================= */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
  color: var(--supporting-color);
  font-family: var(--primary-font-family);
  line-height: var(--default-line-height);
}