/*
 * CONTENTAREA.MODULE.CSS INDEX
 * 1. Content area styles..................08
 * 2. Responsive styles....................30
 *
 */

/* 1. Content area styles
 * ..........................................
 */
.contentArea {
    /* Flexbox */
    display: inline-flex;
    /* Layout */
    width: 100%;
    height: 40rem;
    /* Background */
    background-color: #161616;
    /* Border */
    border-radius: 2.5rem;
    /* Overflow */
    overflow: hidden;
}

.mobileOnlyContainer {
    /* Layout */
    width: 50%;
}

/* 2. Responsive styles
 * ..........................................
 */

@media (max-width: 992px) {
    .contentArea {
        /* Flexbox */
        display: flex;
        flex-direction: column;
        /* Layout */
        height: auto;
        /* Spacing */
        gap: 1rem;
        /* Background */
        background-color: transparent;
    }

    .mobileOnlyContainer {
        /* Layout */
        width: 100%;
        /* Background */
        background-color: #161616;
        /* Border */
        border-radius: 2.5rem;
        /* Overflow */
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .mobileOnlyContainer,
    .contentArea {
        /* Border */
        border-radius: 2rem;
    }
}