/*
 * CONTENTAREA.MODULE.CSS INDEX
 * 1. Content area styles..................07
 *
 */

/* 1. Content area styles
 * ..........................................
 */
.contentArea {
    /* Flexbox */
    display: inline-flex;
    /* Layout */
    width: 100%;
    height: 40rem;
    /* Background */
    background-color: #161616;
    /* Border */
    border-radius: 2.5rem;
    /* Overflow */
    overflow: hidden;
}
