/* 1. Root Variables 
 * ======================================= */
:root {
  --primary-color: #121212;
  --secondary-color: #424242;
  --supporting-color: #080808;

  --spotify-green: #1db954;
  --secondary-green: #108b3b;
  --warning-red: red;

  --background-gradient: linear-gradient(
    to bottom,
    #1db954dc,
    #1db95481,
    #1db9544d,
    #1db95423,
    #1db95400,
    #12121200
  );
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: white;
  font-size: 1;

  background-color: black;
  cursor: default;
}

a {
  color: white;
  text-decoration: none;
}

/* 3. Scrollbar 
 * ======================================= */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* 4. Search Cancel Button 
 * ======================================= */
input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  background-color: #888;
  border-radius: 50%;
  display: block;
  height: 0.6rem;
  transition: background-color 0.25s,
    transform 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
  width: 0.6rem;
}

input[type="search"]::-webkit-search-cancel-button:hover {
  background-color: var(--error-accent-color);
  transform: scale(1.5);
}